body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter";
}
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#BaseConverter, #Counter, #Calculator, #TicTacToe {
    border-radius: 10px;
    border: 0px;
    padding: 7px;
    cursor: pointer;
    font-family: "Inter";
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    #BaseConverter, #Counter, #Calculator, #TicTacToe {
        background-color: #252525;
        color: white;
    }
}