body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Calculator, #Counter, #BaseCalculator, #TicTacToe {
    cursor: pointer;
    border: none;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    #ProjectsLabel, #Calculator, #Counter, #BaseCalculator, #TicTacToe {
        color: white;
        background-color: #121212;
    }
}