body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selectFromBase, #selectToBase, #textBox1, #calculateButton {
    width: 60%;
    padding: 5px;
    border: none;
    box-shadow: inset 0 0 1px #585858;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#textBox1 {
    user-select: text;
}

#selectFromBase:focus, #selectToBase:focus, #textBox1:focus, #calculateButton:active {
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 2px #bbbbbb;
}

#textBox1, #textBox1:active {
    width: 54%;
    outline: 0;
    outline-width: 0;
}

#resultLabel {
    color: #7e7e7e;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    #selectToBase, #selectFromBase, #textBox1, #calculateButton {
        color: white;
        background-color: #121212;
    }
}