body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
}

#calcBtn, #clearBtn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: inset 0 0 2px #585858;
    border-radius: 5px;
    background-color: rgb(200, 201, 200);
}

#calcBtn:active, #clearBtn:active {
    border: 1px solid #a5a5a5;
    box-shadow: 0 0 2px #a5a5a5;
}

#calc0, #calc1, #calc2, #calc3, #calc4, #calc5, #calc6, #calc7, #calc8, #calc9, #plusOP, #minusOP, #multiOP, #diviOP, #powButton, #logBtn, #facultyBtn, #wurzelBtn, #commaBtn, #sinBtn, #cosBtn, #tanBtn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: inset 0 0 2px #585858;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#calc0:active, #calc1:active, #calc2:active, #calc3:active, #calc4:active, #calc5:active, #calc6:active, #calc7:active, #calc8:active, #calc9:active, #plusOP:active, #minusOP:active, #multiOP:active, #diviOP:active, #powButton:active, #logBtn:active, #facultyBtn:active, #wurzelBtn:active, #commaBtn:active, #sinBtn:active, #cosBtn:active, #tanBtn:active {
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 2px #bbbbbb;
}

#calcTextBox {
    font-size: 200%;
    border: none;
    box-shadow: inset 0 0 2px #585858;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#calcTextBox:focus {
    outline: 0;
    border: 1px solid #bbbbbb;
    box-shadow: 0 0 10px #bbbbbb;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    #calc0, #calc1, #calc2, #calc3, #calc4, #calc5, #calc6, #calc7, #calc8, #calc9, #plusOP, #minusOP, #multiOP, #diviOP, #powButton, #logBtn, #facultyBtn, #wurzelBtn, #commaBtn, #sinBtn, #cosBtn, #tanBtn, #calcTextBox {
        background-color: #121212;
        color: white;
    }

    #calcBtn, #clearBtn {
        background-color: #252525;
        color: white;
    }
}