body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter";
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#hourContainer, #minuteContainer, #secondsContainer {
    background-color: #f5f5f5;
}

#hour, #minute {
    color: black;
}


@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }

    #colon, #colon2 {
        color: white;
    }

    #hourContainer, #minuteContainer, #secondsContainer {
        background-color: #252525;
    }

    #minute, #hour, #seconds {
        color: white;
    }
}