body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter";
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#plusButton, #minusButton {
    border-radius: 10px;
    border: 0px;
    font-size: 25px;
    height: 60px;
    width: 100px;
    cursor: pointer;
    font-family: "Inter";
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    #plusButton, #minusButton {
        background-color: #252525;
        color: white;
    }
}